/* Removes the basic styling of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Creates the background color and font */ 
body {
    background-color: #fda5a5;
    background-size: cover;
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* Adjusts the text size of the header */
header {
    font-size: 1.5rem;
    background: url("../images/disco.jpg") no-repeat center center/cover;
}

h1 {
    color: #ffcccc;
    text-decoration: underline;
}

/* Centers the header and the form */
header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* This styles the input text field */
form input, 
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles the color of the form button and makes the button look clickable */
form button {
    color: #000000;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Changes the color of the form button during a hover event */
form button:hover {
    background: #7b4141;
    color: black;
}

/* Centers the container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjusts the list and removes the dot marks of the list */
.todo-list {
    min-height: 30%;
    list-style: none;
}

/* adjusts the styling structure of the list of todos. */
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

/* pushes the checkmark button to the right next to the traschcan button. */
.todo li {
    flex: 1;
}

/* Styles the look of the trashcan button and checkmark button */
.trash-btn, 
.complete-btn {
    background: #ff0000;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Overides the checkmark button in order for the button to have a green color */
.complete-btn {
    background: rgb(73, 204, 73);
}

/* Adjusts the text in the lists so there are some gap. */
.todo-item {
    padding: 0rem 0.5rem;
}

/* Makes the trashcan button clickable on the whole square since the <i> element overides it otherwise. */
.fa-trash, 
.fa-check {
    pointer-events: none;
}

/* Decorates the text of the list when the user has clicked on the checkmark */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* creates a fall effect once the list item has been removed */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Removes all the standard original web styling of the select tag */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

/* Adjusts the position of the select button */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* Changes the color and pointer for the select button */
select {
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}


/* Styles the select button structure */
select::after {
    content: "\25BC";
    position: absolute;
    background: black;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Styles the select button during a hover event */
.select:hover::after {
    background: white;
    color: black;
}

/* Adjusts the position of the timer container div */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* adjusts the size and color of the numbers in the timer */
#display {
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75%);
    margin-bottom: 25px;
    align-items: center;
    flex-wrap: wrap;
}

/* Adjusts the size and style of the buttons of the timer */
#controls button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: background-color 0.5s ease;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Makes the start button green in the timer */
#startBtn {
    background-color: rgb(0, 157, 0);
}
/* Makes the start button lighter green during a hover event in the timer */
#startBtn:hover {
    background-color: rgb(156, 231, 156);
}

/* Makes the stop button red in the timer */
#stopBtn {
    background-color: rgb(213, 1, 1);
}

/* Makes the stop button lighter red during a hover event in the timer */
#stopBtn:hover {
    background-color: rgb(246, 140, 140);
}

/* Makes the reset button blue in the timer */
#resetBtn {
    background-color: rgb(20, 20, 255);
}

/* Makes the reset button lighter blue during a hover event in the timer */
#resetBtn:hover {
    background-color: rgb(138, 137, 233);
}

/* Adjusts the position of the clock */
#clock-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

/* Adjusts the color and padding of the clock */
.clock {
    color: black;
    padding: 40px;
}

/* Adjusts the size and position of the date */
#date {
    font-size: 20px !important;
    text-align: center;
}

/* Fixes the style and the position of the ul element in html */
.clock ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 15px;
}

/* Media queries below */

@media screen and (max-width: 576px) {
    header {
        font-size: 0.9rem;
    }

    #controls button {
        font-size: 0.8rem;
    }

    #display {
        font-size: 2rem;
    }

}

/* For iPhone 4 screen size on "Am I Responsive?" */ 

@media screen and (max-width: 320px) {
    header {
        font-size: 0.75rem;
    }

    #controls button {
        font-size: 0.65rem;
    }

}

    
    

@media screen and (max-width: 280px) {

    header {
        font-size: 0.65rem;
    }

    #display {
        font-size: 1.5rem;
    }
    
}