/* Removes the basic styling of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Creates the background color and font */ 
body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* Adjusts the text size of the header */
header {
    font-size: 1.5rem;
}

/* Centers the header and the form */
header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This styles the input text field */
form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

/* Styles the color of the form button and makes the button look clickable */
form button {
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Changes the color of the form button during a hover event */
form button:hover {
    background: #fda085;
    color: white;
}

/* Centers the container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjusts the list and removes the dot marks of the list */
.todo-list {
    min-height: 30%;
    list-style: none;
}

/* adjusts the styling structure of the list of todos. */
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

/* pushes the checkmark button to the right next to the traschcan button. */
.todo li {
    flex: 1;
}

/* Styles the look of the trashcan button and checkmark button */
.trash-btn, 
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Overides the checkmark button in order for the button to have a green color */
.complete-btn {
    background: rgb(73, 204, 73);
}

/* Adjusts the text in the lists so there are some gap. */
.todo-item {
    padding: 0rem 0.5rem;
}

/* Makes the trashcan button clickable on the whole square since the <i> element overides it otherwise. */
.fa-trash, 
.fa-check {
    pointer-events: none;
}

/* Decorates the text of the list when the user has clicked on the checkmark */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* creates a fall effect once the list item has been removed */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Removes all the standard original web styling of the select tag */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

/* Adjusts the position of the select button */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* Changes the color and pointer for the select button */
select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}


/* Styles the select button structure */
select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Styles the select button during a hover event */
.select:hover::after {
    background: white;
    color: #ff6f47;
}